<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="InetBankingV1">
<listeners>
		<listener class-name="com.ebanking.utilities.Reporting" />
	</listeners>
  <test thread-count="5" name="BankingApp Test">
    
    <classes>
      <class name="com.ebanking.testCases.FirstRunner"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
